@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>All files are stored in WWWRoot and are automatically deleted. Names and sizes of uploaded files may be logged on the server for debugging purposes.</p>
